
/** colors **/
@import "md-colors";


/** breakpoints **/
$grid-breakpoints: (
  sm: (max-width: 600px),
  md: (max-width: 800px),
  lg: (max-width: 1000px)
);

/** regular spacings **/
$std-grid-spacing: 20px;
$large-grid-spacing: 70px;

@mixin respond-to($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media #{inspect(map_get($grid-breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "no value retrieved from `#{$breakpoint}`" + "only #{map-keys($grid-breakpoints)} are available"
  }
}
