/** colors **/
@import "md-colors";

/** breakpoints **/
$grid-breakpoints: (
        sm: (
                max-width: 600px,
        ),
        md: (
                max-width: 900px,
        ),
        lg: (
                max-width: 1300px,
        ),
        larger-than-md: (
                min-width: 900px,
        ),
);

/** regular spacings **/
$space-small: 20px;
$space-medium: 40px;
$space-large: 70px;

$std-line-thickness: 3px;

$primary-yellow: $md-yellow-400;
$primary-red: $md-red-400;
$primary-cyan: $md-cyan-500;
$primary-teal: $md-teal-200;
$light-orange: $md-orange-300;
$primary-orange: $md-orange-500;
$strong-orange: $md-deep-orange-400;

$light-grey: $md-grey-500;
$primary-grey: $md-grey-500;
$dark-grey: lighten($md-grey-900, 1%);
$darker-grey: darken($md-grey-900, 5%);

/** Shadow settings **/
//$large-shadow: 3px 3px 4px rgba(black, 1),
//               6px 6px 12px rgba(black, 0.8),
//              -2px -2px 4px rgba(white, 0.1),
//              -4px -4px 12px rgba(white, 0.1);

//$small-shadow: 1px 2px 4px rgba(black, 1),
//              -1px -2px 1px rgba(white, 0.2),
//               0 0 8px rgba(black, 1);


$large-shadow:
                //0 0 1px rgba(white, 0.5),
               4px 4px 12px rgba(black, 1),
               //2px 2px 1px rgba(black, 1),
              -4px -4px 12px rgba(white, 0.15),
              //-2px -2px 1px rgba(white, 0.05),
;

$small-shadow:
                4px 4px 6px rgba(black, 1),
              -4px -4px 6px rgba(white, 0.07),

               1px 1px 2px rgba(black, 1),
              //-2px -2px 1px rgba(white, 0.08),
              //inset 2px 2px 10px rgba(white, 0.1),
              //  0 0 10px rgba(black, 1)
;

$inset-small-shadow: inset 4px 4px 15px rgba(black, 1),
                     inset -4px -4px 15px rgba(white, 0.2);

@mixin raised-surface() {
  border: 1px solid lighten($darker-grey, 5%);
  background: $darker-grey;

  box-shadow: $small-shadow;
}

@mixin glow($color, $size: 30px, $alpha: 1) {
  box-shadow: 0 0 $size rgba($color, $alpha),
  0 5px 5px $md-black;
}

// todo move text-shadow effect here as well?

@mixin action-icon() {
  font-size: $space-medium;
  color: $primary-red;

  filter: drop-shadow(0 0 15px  rgba($primary-red, 0.5)) drop-shadow(0 5px 5px $md-black);

  transition: 0.1s all ease-in;

  &:hover {
    color: lighten($primary-red, 10%);
    filter: drop-shadow(0 0 15px $primary-red) drop-shadow(0 10px 5px $md-black);
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media #{inspect(map_get($grid-breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "no value retrieved from `#{$breakpoint}`" + "only #{map-keys($grid-breakpoints)} are available";
  }
}
