@import "variables";

.title {
  font-size: 3em;
  margin: 0;
  font-style: italic;
  color: white;

  @include respond-to(sm) {
    font-size: 2.3em;
  }
}

$description_size: 600px;

.description {
  line-height: $medium-grid-spacing;
  font-weight: normal;

  color: $primary-grey;

  max-width: $description_size;

  @include respond-to(md) {
    max-width: 100%;
  }
}

.main-content, .about-content {
  padding: $large-grid-spacing $large-grid-spacing $std-grid-spacing;

  @include respond-to(sm) {
    padding: $large-grid-spacing $std-grid-spacing $std-grid-spacing;
  }
}

.work-content,
.about-form-content {
  padding: $large-grid-spacing;

  @include respond-to(sm) {
    padding: $std-grid-spacing $std-grid-spacing $large-grid-spacing $std-grid-spacing;
  }
}

.main-content {
  display: grid;
  align-content: center;
  min-height: 90vh;

  .scroll-indicator {
    font-size: 70%;
    color: darken($primary-grey, 40%);
  }
}

.work-content {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;

  grid-gap: $large-grid-spacing $large-grid-spacing;

  grid-auto-flow: row;

  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
  }
}

.about-form-content, .work-content {
  @include respond-to(larger-than-md) {
    padding-top: 0;
  }
}

.about-form-content {

  .form {
    display: flex;
    flex-direction: column;

    input, button,
    textarea {
      flex: 1;
      padding: $std-grid-spacing;
      margin-bottom: $std-grid-spacing;

      display: block;
      min-width: $large-grid-spacing;
      max-width: $description_size;

      -webkit-appearance: none;
      color: $light-grey;
      background: $dark-grey;
      caret-color: $light-grey;
      box-shadow: $small-shadow;
      border-radius: $std-grid-spacing;
      border: none;

      @include respond-to(md) {
        max-width: 100%;
      }
    }

    input, textarea {
      &:focus {
        outline: none;
        box-shadow: $inset-small-shadow;
      }
    }

    textarea {
      resize: vertical;
    }

    .submit {
      width: 200px;
      background: $primary-red;
      color: $dark-grey;
      font-weight: bold;
      @include glow($primary-red, 20px, 0.5);
      transition: 0.1s all ease-in;

      &:hover {
        background: lighten($primary-red, 10%);
        @include glow($primary-red, 30px, 0.7);
      }
    }
  }
}

.icon {
  vertical-align: middle;
  padding-bottom: 3px;
}
