@import "variables";

.title {
  font-size: 3em;
  margin: 0;
  font-style: italic;
  color: white;

  @include respond-to(sm) {
    font-size: 2.3em;
  }
}

$description_size: 600px;

.description {
  line-height: $space-medium;
  font-weight: normal;

  color: $primary-grey;

  max-width: $description_size;

  @include respond-to(md) {
    max-width: 100%;
  }
}

.main-content, .about-content {
  padding: $space-large $space-large $space-small;

  @include respond-to(lg) {
    padding: $space-large $space-medium $space-small;
  }

    @include respond-to(sm) {
    padding: $space-large $space-small $space-small;
  }
}

.work-content,
.about-form-content {
  padding: $space-large;

  @include respond-to(lg) {
    padding: $space-medium;
  }

  @include respond-to(sm) {
    padding: $space-small $space-small $space-large $space-small;
  }
}

.main-content {
  display: grid;
  align-content: center;
  min-height: 90vh;

  .scroll-indicator {
    font-size: 70%;
    color: darken($primary-grey, 40%);
  }
}

.work-content {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;

  grid-gap: $space-large $space-medium;

  grid-auto-flow: row;

  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
  }
}

.about-form-content, .work-content {
  @include respond-to(larger-than-md) {
    padding-top: 0;
  }
}

.about-form-content {

  .form {
    display: flex;
    flex-direction: column;

    input, button,
    textarea {
      flex: 1;
      padding: $space-small;
      margin-bottom: $space-small;

      display: block;
      min-width: $space-large;
      max-width: $description_size;

      -webkit-appearance: none;
      color: $light-grey;
      background: $dark-grey;
      caret-color: $light-grey;
      box-shadow: $small-shadow;
      border-radius: $space-small;
      border: none;

      @include respond-to(md) {
        max-width: 100%;
      }
    }

    input, textarea {
      &:focus {
        outline: none;
        box-shadow: $inset-small-shadow;
      }
    }

    textarea {
      resize: vertical;
    }

    .submit {
      width: 200px;
      background: $primary-red;
      color: $dark-grey;
      font-weight: bold;
      @include glow($primary-red, 20px, 0.5);
      transition: 0.1s all ease-in;

      &:hover {
        background: lighten($primary-red, 10%);
        @include glow($primary-red, 30px, 0.7);
      }
    }
  }
}

.icon {
  vertical-align: middle;
  padding-bottom: 3px;
}

.icon-list {
  max-width: $description_size;
  font-size: $space-medium;
  color: $primary-yellow;
  filter: drop-shadow(0 0 5px rgba($primary-yellow, 0.3)) drop-shadow(0 5px 5px $md-black);

  display: flex;
  justify-content: space-evenly;

  div {
    width: $space-medium;

    .icon {
      display: block;
      vertical-align: middle;
      padding-bottom: 3px;
    }
  }
}
