@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700$display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap");
@import "variables";

* {
  //outline: 1px solid red;
}

html,
body {
  //background: $dark-grey;
  font-family: $default-font;
  //z-index: -10;
  position: relative;

  $dark-subtle-bk: linear-gradient(95deg,
          lighten($darker-grey, 3%),
          darken($darker-grey, 0%));

  //background: $darker-grey;
  //background: $dark-subtle-bk;
  color: $primary-grey;

  &:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -2;

    background: $darker-grey;
    background: $dark-subtle-bk;
  }
}

ul, li {
  margin-left: -0.5em;
}

p {
  font-size: 18px;
  line-height: 1.6em;
}

::selection {
  background: $accent-2;
  color: $md-white;
}

em {
  font-weight: normal;
  font-style: normal;
  color: $highlight-color;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.vertical-std-padded {
  padding-top: $space-small;
  padding-bottom: $space-small;
}

.bottom-std-padded {
  padding-bottom: $space-small;
}

.horizontal-std-padded {
  padding-left: $space-small;
  padding-right: $space-small;
}

.std-margin {
  margin: $space-small;
}

.bottom-std-margin {
  margin-bottom: $space-small;
}

h1 {
  font-family: $fancy-font;
}

.clickable {
  color: $action-color;
  text-decoration: none;
  white-space: nowrap;

  text-shadow: 0 0 7px rgba($action-color, 0.3);
  transition: 0.1s all ease-in;

  &:hover {
    color: lighten($action-color, 10%);
    text-shadow: 0 0 15px rgba($action-color, 0.5),
    0 5px 5px $md-black;
  }
}

a:not(.plain-link) {
  @extend .clickable;
}

.icon {
  vertical-align: middle;
  padding-bottom: 3px;
}

.animateContainer {

  $translate-strength: 12px;
  @include respond-to(larger-than-md) {
    &-enter {
      &-active {
        position: absolute;
        opacity: 1;
        transform: translateY(0);

        .animate {
          opacity: 0;
          transform: translateY(-$translate-strength);
        }
      }

      &-done {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 250ms ease-in, transform 250ms ease-in;

        .animate {
          transform: translateY(0);
          opacity: 1;
          transition: opacity 250ms ease-in, transform 250ms ease-in;
        }
      }
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);

      &-active {
        transform: translateY(0);
        transition: opacity 250ms ease-out, transform 250ms ease-out;
        opacity: 1;

        div:after {
          box-shadow: none !important;
        }

        .animate {
          transform: translateY($translate-strength);
          transition: opacity 250ms ease-out, transform 250ms ease-out;
          opacity: 0;
        }
      }
    }
  }
}


.icon {
  vertical-align: middle;
  padding-bottom: 3px;
  font-size: $space-small;

  @include respond-to(md) {
    display: none;
  }
}
