@import "variables";

/** Sidebar Styles **/

.sidebar-intro,
.sidebar-work,
.sidebar-blog {
  padding: $large-grid-spacing;

  background: $md-grey-900;
  color: $md-blue-grey-200;
  font-weight: bold;
  text-align: right;
  line-height: 40px;
  justify-items: right;

  @include respond-to(md) {
    justify-items: center;
    text-align: center;
  }
}

.sidebar-intro {
  padding-top: $large-grid-spacing;
}

.sidebar-work {
}

.sidebar-blog {
}

.sidebar-work,
.sidebar-blog {
  grid-template-rows: min-content;
  padding: 0 $large-grid-spacing $std-grid-spacing $large-grid-spacing;

  .sticky-title {
    place-self: start center;
    position: sticky;
    top: $large-grid-spacing;
  }
}

.sidebar-logo {
  width: 100px;
  float: right;
  margin: $std-grid-spacing 0;

  @include respond-to(md) {
    float: none;
    margin: 0 auto $std-grid-spacing;
  }
}

.sidebar-divider {
  place-self: start stretch;
  height: 3px;
  background: $md-yellow-400;
  margin-bottom: $large-grid-spacing;

  @include respond-to(md) {
    margin-bottom: $std-grid-spacing;
  }
}

.blog-posts-links {
  font-weight: normal;
}

//.icon-grid {
//  $space-around: 30px;
//  $large-space-around: 30px;
//  display: grid;
//
//  grid-template-columns: $space-around auto;
//  grid-template-rows: $space-around;
//  grid-auto-flow: row;
//
//  align-items: center;
//  padding-bottom: $std-grid-spacing;
//}

.icon {
  color: $md-cyan-200;
  font-size: 20px;
  vertical-align: middle;

  @include respond-to(md) {
    display: none;
  }
}

.github-left-margin {
  margin-left: $std-grid-spacing;
}

/** Content Styles **/

.title {
  font-size: 3.7em;
}

.description {
  font-size: 30px;
  line-height: 40px;
  font-weight: normal;

  color: $md-grey-500;

  max-width: 600px;
}

.main-content,
.work-content {
  //.about-content {
  padding: 0 $large-grid-spacing $std-grid-spacing;
}

.main-content {
  height: 100vh;
  display: grid;
  align-content: center;
}

.about-content {
  padding: $std-grid-spacing;
  //text-align: justify;
}

.work-content {
  display: grid;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-auto-rows: auto;

  grid-gap: $large-grid-spacing $large-grid-spacing;

  grid-auto-flow: row;

  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: stretch;

    padding-top: $large-grid-spacing;
  }
}

.blog-grid {
}
