@import "variables";


/** Sidebar Styles **/

.sidebar-intro, .sidebar-work, .sidebar-blog {
    padding: $std-grid-spacing;
}

.sidebar-intro {
    background: color(maize);
}

.sidebar-work {
    background: color(inchworm);
    //color: color(mint-cream);
}

.sidebar-blog {
    background: color(tigers-eye);
    color: color(mint-cream);
}

.sidebar-work, .sidebar-blog {
    place-content: start center;
    padding: $large-grid-spacing $std-grid-spacing;
    div {
        position: sticky;
        top: $large-grid-spacing;
    }
}

.icon-grid {

    $space-around: 30px;
    $large-space-around: 30px;
    display: grid;

    grid-template-columns: $space-around auto;
    grid-template-rows: $space-around;
    grid-auto-flow: row;

    align-items: center;
    padding-bottom: $std-grid-spacing;
}

.icon {
    font-size: 20px;
    color: color(dazzled-blue);
}

.github-left-margin {
    margin-left: $std-grid-spacing;
}


/** Content Styles **/

.title {
    font-size: 3.8em;
}

.description {
    margin-top: 2em;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;

    color: grey;

    max-width: 600px;
}

.work-grid {
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-rows: auto;

    grid-gap:$large-grid-spacing $large-grid-spacing;

    grid-auto-flow: row;

    @include respond-to(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: stretch;
    }
}

.blog-grid {

}