@import "variables";

.landing-sidebar {
  padding: $large-grid-spacing $large-grid-spacing $std-grid-spacing $std-grid-spacing;
  margin: $std-grid-spacing 0 0 $std-grid-spacing;

  @include respond-to(md) {
    padding: $large-grid-spacing $large-grid-spacing $std-grid-spacing;
    margin: $std-grid-spacing $large-grid-spacing 0;
  }

  @include respond-to(sm) {
    padding: $large-grid-spacing $std-grid-spacing $std-grid-spacing;
    margin: $std-grid-spacing $std-grid-spacing 0;
  }

  border-radius: $medium-grid-spacing $medium-grid-spacing 0 0;

  &:after {
    border-radius: $medium-grid-spacing $medium-grid-spacing 0 0;
  }
}

.info-sidebar {
  padding: 0 $large-grid-spacing $large-grid-spacing $large-grid-spacing;
  margin: 0 0 $large-grid-spacing $std-grid-spacing;

  @include respond-to(md) {
    margin: 0 $large-grid-spacing $std-grid-spacing;
  }

  @include respond-to(sm) {
    padding: 0 $std-grid-spacing $large-grid-spacing;
    margin: 0 $std-grid-spacing $std-grid-spacing;
  }

  border-radius: 0 0 $medium-grid-spacing $medium-grid-spacing;

  &:after {
    border-radius: 0 0 $medium-grid-spacing $medium-grid-spacing;
    //border-radius: $large-grid-spacing;
  }
}

.landing-sidebar,
.info-sidebar {
  background: $dark-grey;
  color: $light-grey;

  text-align: right;
  line-height: $medium-grid-spacing;
  justify-items: right;

  position: relative;

  &:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -1;

    box-shadow: $large-shadow;
  }

  @include respond-to(md) {
    justify-items: center;
    text-align: center;
  }

  .sidebar-header {
    font-weight: bold;
  }

  .sidebar-description {
    line-height: $std-grid-spacing * 1.5;
  }

  .io {
    @include action-icon();
  }

  .icon, .highlight-icon {
    vertical-align: middle;
    padding-bottom: 3px;
    font-size: $std-grid-spacing;

    @include respond-to(md) {
      display: none;
    }
  }

  .highlight-icon {
    color: $primary-yellow;
    filter: drop-shadow(0 0 5px rgba($primary-yellow, 0.5)) drop-shadow(0 5px 5px $md-black);
  }

  .github-left-margin {
    margin-left: $std-grid-spacing;
  }
}

.landing-sidebar {

  .logoLink {
    display: inline-block;

    .logo {
      width: 100px;
      float: right;
      margin: $std-grid-spacing 0;
      border-radius: 50%;
      transition: 0.2s box-shadow linear;
      @include glow($primary-yellow, 30px, 0.4);

      &:hover {
        @include glow($primary-yellow, 30px, 0.8);
      }

      @include respond-to(md) {
        float: none;
        margin: 0 auto $std-grid-spacing;
      }
    }
  }
}

.info-sidebar {
  grid-template-rows: min-content;

  .sticky-title {
    place-self: start end;
    position: sticky;
    top: $large-grid-spacing;

    @include respond-to(md) {
      place-self: start center;
    }

    .title {
      margin-top: 0;
    }
  }

  .divider {
    place-self: start stretch;
    height: $std-line-thickness;
    background: $primary-yellow;
    margin-bottom: $std-grid-spacing;
    border-radius: $std-line-thickness;
  }
}

.skills {

  .skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: normal;
    margin: $std-line-thickness * 2 0;

    @include respond-to(md) {
      justify-content: center;
    }

    .chip-weak, .chip, .chip-strong {

      vertical-align: middle;
      padding: $std-line-thickness $std-line-thickness * 4;
      margin: $std-line-thickness;
      border-radius: $std-grid-spacing;
      color: $dark-grey;
      font-weight: bold;
    }

    .chip-weak {
      background: $light-orange;
      @include glow($light-orange, 8px, 0.5);
    }

    .chip {
      background: $primary-orange;
      @include glow($primary-orange, 8px, 0.5);
    }

    .chip-strong {
      background: $strong-orange;
      @include glow($strong-orange, 8px, 0.5);
    }
  }
}
