@import "variables";

.landing-sidebar,
.info-sidebar {
  padding: $large-grid-spacing;

  background: $dark-grey;
  color: $light-grey;
  font-weight: bold;
  text-align: right;
  line-height: 40px;
  justify-items: right;

  @include respond-to(md) {
    justify-items: center;
    text-align: center;
  }

  .blog-posts-links,
  .sidebar-description {
    font-weight: normal;
  }
}

.landing-sidebar {
  padding-top: $large-grid-spacing;

  .logo {
    width: 100px;
    float: right;
    margin: $std-grid-spacing 0;

    @include respond-to(md) {
      float: none;
      margin: 0 auto $std-grid-spacing;
    }
  }

  .icon {
    color: $primary-yellow;
    font-size: $std-grid-spacing;
    vertical-align: middle;

    @include respond-to(md) {
      display: none;
    }
  }

  .github-left-margin {
    margin-left: $std-grid-spacing;
  }
}

.info-sidebar {
  grid-template-rows: min-content;
  padding: 0 $large-grid-spacing $std-grid-spacing $large-grid-spacing;

  .sticky-title {
    place-self: start end;
    position: sticky;
    top: $large-grid-spacing;

    @include respond-to(md) {
      place-self: start center;
    }

    .title {
      margin-top: 0;
    }
  }

  .divider {
    place-self: start stretch;
    height: $std-line-thickness;
    background: $primary-yellow;
    margin-bottom: $large-grid-spacing;

    @include respond-to(md) {
      margin-bottom: $std-grid-spacing;
    }
  }
}
