@import "../../styles/variables";

.grid {
  width: 100%;
  height: auto;

  display: grid;

  grid-template-columns:
    [sidebar-left-flush] minmax(350px, 30%) [sidebar-right-flush
    content-left-flush] auto [content-right-flush];

  grid-template-rows: [content-top-flush] auto [content-bottom-flush];

  grid-template-areas: "sidebar content";
}

.grid-straight {
  @extend .grid;

  @include respond-to(md) {
    grid-template-columns: [sidebar-left-flush content-left-flush] 1fr [sidebar-right-flush content-right-flush];
    grid-template-areas: "content" "sidebar";
  }
}

.grid-reverse {
  @extend .grid;
  @include respond-to(md) {
    grid-template-columns: [sidebar-left-flush content-left-flush] 1fr [sidebar-right-flush content-right-flush];
    grid-template-areas: "sidebar" "content";
  }
}

.sidebar {
  grid-area: sidebar;

  box-sizing: border-box;
  //max-width: 540px;

  display: grid;
  place-items: center;

  @include respond-to(md) {
    max-width: 100%;
  }
}

.sidebar-content {
}

.content {
  grid-area: content;

  @include respond-to(md) {
    padding: $std-grid-spacing;
  }
}
