@import "../../styles/variables";

.snippet {

}

.title {
  margin-bottom: 0;
  color: white;
}

.subtitle {
  margin-top: 0;
  color: grey;
}

.text {
  color: grey;
}

.img {
  border-radius: $std-grid-spacing;
  box-shadow: $small-shadow;
}
