@import "../../styles/variables";
@import "../../styles/global";


$variant: 3;
$img-variant: 2;
.snippet, .super-snippet {

  @if ($variant == 1) {
    padding: $space-small;
  }
  @if ($variant == 2) {
    border: 1px solid $md-grey-800;
  }
  @if ($variant == 3) {
    @include raised-surface;
  }

  @if ($variant == 4) {
    box-shadow: $inset-small-shadow;
  }

  border-radius: $space-small;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @if ($img-variant == 2) {
      padding: $space-small;
    }

    .body {
      flex: 1;
    }

    .footer {

    }
  }
}

.snippet {

  display: flex;
  flex-direction: column;

  &.has-img {
    @include respond-to(md-only) {

      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-auto-rows: auto;

      grid-gap: $space-small;

      grid-column: span 1;
    }
  }

  .banner-img {
    flex: 1;

    @if ($img-variant == 1) {
      border-radius: $space-small;
    }
    @if ($img-variant == 2) {
      border-radius: $space-small $space-small 0 0;

      @include respond-to(md-only) {
        border-radius: $space-small 0 0 $space-small;
      }
    }
  }
}

.super-snippet {
  grid-column: span 3;
  grid-gap: $space-small $space-medium;

  &.has-img {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;

    @include respond-to(sm) {
      grid-template-columns: 1fr;
    }
  }

  @include respond-to(lg) {
    grid-column: span 2;
  }

  @include respond-to(md) {
    grid-gap: $space-small;
    grid-column: span 1;
  }

  .banner-img {

    @if ($img-variant == 1) {
      border-radius: $space-small;
    }
    @if ($img-variant == 2) {
      border-radius: $space-small 0 0 $space-small;

      @include respond-to(sm) {
        border-radius: $space-small $space-small 0 0;
      }
    }
  }
}

.title {
  //margin: 0;
  color: white;
}

//.subtitle {
//  color: $primary-grey;
//}

.text {
  img, video {
    display: none;
  }
}

.overlay {
  z-index: 99;
}

.dialog {
  color: $primary-grey;
  background: $dark-grey !important;

  width: auto !important;
  max-width: 600px;
  margin: $space-large auto !important;
  padding: $space-large !important;

  border-radius: $space-small;
  box-shadow: 0 0 $space-medium black;

  @include respond-to(lg) {
    padding: $space-medium !important;
  }

  @include respond-to(md) {
    max-width: 999999px;
    margin: $space-large $space-small !important;
  }

  @include respond-to(sm) {
    padding: $space-small !important;
  }

  img, video {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
}

.button {
  border: none;
  background: none;
  cursor: pointer;

  @extend .clickable;
  margin: $std-line-thickness $space-small $std-line-thickness 0;
  padding: $std-line-thickness $std-line-thickness $std-line-thickness 0;
}

.link {
  display: inline-block;
  margin: $std-line-thickness $std-line-thickness $std-line-thickness 0;
  padding: $std-line-thickness $std-line-thickness $std-line-thickness 0;
}

.icon-button {

  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */

  vertical-align: middle;
  background: none;
  padding: $std-line-thickness;

  @include action-icon;
}

.hide-sm {
  @include respond-to(sm) {
    display: none;
  }
}

.show-sm {
  display: none;
  @include respond-to(sm) {
    display: block;
  }
}
